@use './vars' as *;
@use "sass:math";

.header-end {
    margin-top: rem(-30);
    padding-top: rem(30);
}

.transparent-btn {
    display: inline-block;
    color: var(--redColor);
    padding: rem(13) rem(45);

    border: 1px solid #F53838;
    border-radius: rem(50);
    transition: all .5s ease;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            background-color: var(--redColor);
            color: #fff;
        }
    }
}

.red-btn {
    color: #fff;
    background-color: var(--redColor);
    border-radius: rem(10);
    padding: rem(17) rem(79);
    font-weight: 700;
    box-shadow: 0 rem(20) rem(30) rgba(247, 50, 50, 0.3);
    transition: all .5s ease;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 rem(20) rem(40) rgba(247, 50, 50, 0.5);
        }
    }
}

.title {
    color: #0B132A;
    font-weight: 500;
    line-height: math.div(70 , 35);
    line-height: math.div(50, 35);

    @include adaptiveValue("font-size", 35, 24);

    span {
        font-weight: 700;
    }
}

.text-medium {
    font-weight: 500;
}