@use "../base/vars" as *;
@use "../base/spollers" as *;

.footer {
    background-color: #F8F8F8;

    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: rem(35);
        
        padding: rem(180) rem(15) 0;
        @include adaptiveValue("padding-bottom", 100, 20);

        @media(max-width: $mobile) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: rem(25);

        @media(max-width: $mobile) {
            align-self: center;
            text-align: center;
        }
    }

    &__img {
        z-index: 1;
        @media(max-width: $mobile) {
            align-self: center;
        }
    }

    &__text {
        max-width: rem(340);
    }

    &__socials {
        display: flex;
        gap: rem(20);

        @media(max-width: $mobile) {
            align-self: center;
        }
    }

    &__socials-item {
        max-width: rem(35);

        img {
            width: rem(35);
            box-shadow: 0 rem(13) rem(18) rgba(17, 19, 35, .08);
            border-radius: 50%;
            transition: box-shadow .5s ease;

            @media (hover: hover) {
                &:hover {
                    box-shadow: 0 rem(13) rem(18) rgba(17, 19, 35, .3);

                }
            }
        }
    }

    &__left-owner {
        color: #AFB5C0;
    }

    &__right {
        max-width: 100%;
        width: 100%;
    }

    &__right-list {
        display: flex;
        flex-direction: column;
        gap: rem(10);
    }

    &__right-item {
        a {
            @include text-hover(var(--redColor));
        }
    }

    &__right-title {
        font-size: rem(18);
        margin-bottom: rem(20);
    }
}