@use '../base/vars' as *;

.logo {
    z-index: 100;
    max-width: rem(150);

    img {
        width: rem(150);
    }

    @media (hover: hover) {
        &:hover {
            animation-name: logo-hover;
            animation-duration: 1s;
            animation-timing-function: ease;
        }
    }
}

.header {
    padding: rem(20) 0;
    background-color: #fff;
    box-shadow: 0 rem(10) rem(10) rgba(13, 16, 37, 0.06);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media(max-width: $tablet) {
        position: static;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: rem(40);
        row-gap: rem(10);
        padding: 0 rem(10);
    }

    &__list-link {
        @include text-hover(var(--redColor));
    }
}

.login {


    &__list {
        display: flex;
        gap: rem(30);
        align-items: center;
    }

    &-small {
        display: none;
    }
}

.sign-in {
    color: #0B132A;
    font-weight: 500;
    transition: color .5s ease;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            color: var(--redColor);
        }
    }
}

// ==============================>>> BURGER <<<==============================

.burger-input {
    display: none;
}

.burger-label {
    display: none;
}

@media (max-width: $tablet) {

    .burger-label {
        position: relative;
        z-index: 6;
        display: block;
        width: rem(30);
        height: rem(20);

        &::before,
        &::after,
        span {
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #0B132A;

            transition: all .3s ease;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            content: '';
            top: 0;
        }

        &::after {
            content: '';
            bottom: 0;
        }
    }

    .burger-input:checked {
        ~.burger-label::after {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
        }

        ~.burger-label::before {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }

        ~.burger-label span {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }

        ~.menu__body {
            transform: translateX(0);

            &::before {
                transform: translateX(0);
            }
        }
    }

    body:has(.burger-input:checked) {
        overflow: hidden;
    }

    .menu {
        &__body {
            position: fixed;
            z-index: 5;
            left: 0;
            transform: translateX(-120vw);
            right: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            transition: transform .5s ease;

            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: rem(70);
                transform: translateX(-120vw);
                top: 0;
                background-color: #fff;
            }
        }

        &__list {
            margin-top: em(50);
            display: flex;
            align-items: center;
            flex-direction: column;
            column-gap: rem(35);
            row-gap: rem(25);
            padding: 0 rem(10);

            font-size: rem(30);

            &-link {
                color: #0B132A;
            }


        }
    }

    .login {
        &__list {
            flex-direction: column;
            align-items: center;
            font-size: rem(30);
            margin: rem(50) 0;
        }

        &-small {
            display: block;
        }

        &-big {
            display: none;
        }
    }
}

@keyframes logo-hover {
    0% {
        transform: rotate(0);
    }

    33% {
        transform: rotate(20deg);
    }

    66% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}