/* IMPORTS */
@use './base/abstract' as *;
@use "sass:math";

/* SCRIPT */

.about {
    @include adaptiveValue("margin-top", 90, 10);

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(40);

        @media(max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }

    &__content {
        flex: 0 1 rem(550);
    }

    &__title {
        margin-bottom: rem(20);
        @include adaptiveValue("font-size", 50, 34);
    }

    &__text {
        margin-bottom: rem(50);

        @media(max-width: $mobileSmall) {
            margin-bottom: rem(20);
        }
    }

    &__btn {}

    &__media {
        flex: 0 1 rem(612);

        img {
            max-width: 100%;
        }

        @media(max-width: $tablet) {
            margin-top: rem(33);
        }

        @media(max-width: $mobileSmall) {
            display: none;
        }
    }

    &__stats {
        border-radius: rem(10);
        box-shadow: 0 10px 20px rgba(13, 16, 37, 0.06);

        @include adaptiveValue("margin-top", 103, 30);
    }

    &__stats-list {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
    }

    &__stats-item {
        padding: 0 rem(15);
        position: relative;

        @include adaptiveValue("padding-top", 68, 10);
        @include adaptiveValue("padding-bottom", 68, 10);

        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                width: rem(2);
                height: 63%;
                background-color: #eeeff2;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__stats-item.last-in-row {
        &::after {
            display: none;
        }
    }

    &-item-wrapper {
        display: flex;
        gap: rem(37);
        justify-content: center;
    }

    &-item-img {
        img {
            width: rem(55);
        }
    }

    &-item-text {
        max-width: 100%;
        overflow: hidden;

        & p:nth-child(1) {
            color: var(--titleColor);
            font-weight: 700;
            font-size: rem(25);
        }

        & p:nth-child(2) {
            font-size: rem(20);
            line-height: math.div(30, 20);
        }
    }
}

.features {
    @include adaptiveValue("margin-top", 90, 50);

    &__container {
        display: flex;
        justify-content: space-between;
        gap: rem(10);

        @media(max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }

    &__media {
        flex: 0 1 rem(510);

        img {
            max-width: 100%;
        }

        @media(max-width: $tablet) {
            order: 2;
        }

        @media(max-width: $mobileSmall) {
            display: none;
        }
    }

    &__content {
        flex: 0 1 rem(430);
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    &__title {}

    &__text {}

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__list-item {
        font-size: rem(14);
        padding-left: rem(35);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url(../img/features/list-check.svg) no-repeat center;
            width: rem(24);
            height: rem(24);
        }
    }
}